<p>Welcome back, {{ .handle }}!</p>
<p><a href="https://accounts.automatic.com/oauth/authorize/?client_id={{ .client_id }}&response_type=code&scope=scope:public%20scope:user:profile%20scope:location%20scope:vehicle:profile%20scope:vehicle:events%20scope:trip%20scope:behavior%20" target="_blank"><img src="https://d1qbqqxx54sk5g.cloudfront.net/website/img/developer/buttons/signin-xlarge@2x.271d1595432a.png"/></a></p>

