{{ if .loggedIn }}
Hey! You logged in as {{ .handle }}
{{ end }}
Hello. Sign up <a href="/sign-up">here</a>.

<p>
Or, Sign in:
<form method="post" action="/login">
<table border="0" cellpadding="10">
<tr>
	<td>Username:</td>
	<td><input type="text" name="username" size="40" /></td>
</tr>
<tr>
	<td>Password:</td>
	<td><input type="password" name="passwd" size="40" /></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td><input type="submit" value="Sign In" /></td>
</tr>
</table>
</form>
</p>
